
            
       section {
            max-width: 850px;
            margin: 10px auto 10px;
            padding: 25px 30px;
            background-color: #f1f0ee;
            border-radius: 25px;
            box-shadow: 1 1px 8px rgba(0, 0, 0, 0.05);
        }

        .header {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;
            padding-bottom: 10px;
            border-bottom: 3px solid #f0ebe6;
            margin-bottom: 15px;
        }

        .header img{
            width: 100px;
            border-radius: 12px;
        }

        :root {
            --cream: #F9F8F3;
            --teal: #183d43;
            --green: #2e5a57;
            --gold: #C2A878;
            --black: #283824;
        }

      
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: var(--cream);
            color: var(--black);
            margin: 0;
            padding: 0;
            line-height: 1.6;
        }

        .container {
            max-width: 1000px;
            margin: 0 auto;
            padding: 40px 20px;
            background-color: #ffffff;
            border-radius: 35px;
            box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
            text-align: center;
        }

        fieldset {
            border-radius: 35px;
            width: 75%;
            height: 15vh;
            min-width: 100px;
            min-height: 60px;
            margin: 0 auto;

        }

        textarea {
            border-radius: 25px;
            padding: 10px;
            border: 1px;
            width: 95%;
            height: 20vh;
            min-width: 200px;
            min-height: 60px;
        }

        .column { width: 50%; }
            * { box-sizing: border-box; }
    
        @media (max-width: 600px) {
            nav a { display: block; }
           .section { width: 100%; }
           h1 { font-size: 18pt; }
        }
       
        nav {
            background-color: var(--teal);
            padding: 15px;
            text-align: center;
            border-radius: 8px;
            margin-bottom: 40px;
            box-shadow: 0 4px 6px rgba(0,0,0,0.1);
        }

        nav a {
            color: var(--cream);
            text-decoration: none;
            margin: 0 15px;
            font-weight: bold;
            font-size: 16px;
            text-transform: uppercase;
            letter-spacing: 1px;
        }

        nav a:hover {
            color: var(--gold);
        }

        .tabs-container {
            max-width: 600px auto;
            margin: 20px auto;
            font-family: sans-serif;
        }

        .product-row {
            justify-content: right;
        }

        .input-row {
            display:flex;
            justify-content: center;
            gap: 30px;
        }

            /* Hide actual radio inputs */
        input[type="radio"] {
            display: none;
        }

        input[class="radio2"] {
            display:inline-block
        }

            /* Tab Bar */
        .tab-buttons {
         display: flex;
         border-bottom: 2px solid #ccc;
         justify-content: center;
        }

        .tab-btn {
         padding: 10px 20px;
         cursor: pointer;
         font-size: 16px;
         justify-content: center;
        }

            /* Hide content by default */
        .tab-content {
         display: none;
         padding: 20px 0;
        }

            /* Display active content */
        #tab1-input:checked ~ #content1,
        #tab2-input:checked ~ #content2 {
         display: block;
        }

            /* Highlight active tab label */
        #tab1-input:checked ~ .tab-buttons label[for="tab1-input"],
        #tab2-input:checked ~ .tab-buttons label[for="tab2-input"] {
          border-bottom: 3px solid #37745fb2;
          font-weight: bold;
          color: #37745fb2;
        }
